**/.idea
**/.ipynb_checkpoints
**/venv
**/__pycache__
**/profiles/
**/abstracts/
**/thesis/
**/organisms/
**/GoogleNews-vectors-negative300.bin
**/topic_models/
*.swp
**/HLTA-deps.jar
**/HLTA.jar
*.npy
fusion/graphs/d3/templates
**.html
fusion/graphs/gephi/
fusion/graphs/d3/*.json

