**/.idea
**/.ipynb_checkpoints
**/venv
**/__pycache__
**/profiles*/
**/abstracts*/
**/GoogleNews-vectors-negative300.bin
**/topic_models/
*.swp
**/HLTA-deps.jar
**/HLTA.jar
fusion/heavy_matrices
fusion/single_matrix
fusion/GFSC
fusion/gbs
*.npy
fusion/graphs/d3/templates
fusion/graphs/html
fusion/graphs/gephi/
fusion/graphs/d3/*.json

